header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}
img {
    border-radius: 2rem;
}
/* ============================ CTA ========================== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ========================== Medias ============================ */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem ;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: ' ';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ========================== ME =============================== */
.me {
    width: 22rem;
    height: 90rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem;
    transform: rotate(0deg);
    transition: var(--transition);
}

.me:hover {
    transform: rotate(2deg);
    transition: var(--transition);
}
/* ==========================Scroll Down ========================= */
.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ======================================================== Media Querys Medium Devices =========================================================================== */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;

    }
  }
  
  /* ======================================================== Media Querys Medium Devices =========================================================================== */
  @media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials , .scroll_down {
        display: none;
    }
  }